.cart-widget {
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: rgba(10, 48, 51, 0.2);
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: 0.2s ease-in-out all;
    left: 90%;

    span {
        font-family: 'Josefin Sans', sans-serif;
        margin: 0;
    }

    img {
        width: 80%;
    }
     
}

.cart-widget:hover {
    cursor: pointer;
}

@media (max-width: 1115px) {

    .cart-widget {
        width: 7%;
        img {
            width: 100%;

        }
    }
}