.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
    padding: 1rem 1rem 1.5rem 1rem;
    transition: all .2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: rgb(255, 255, 255);
    border-color: 2px solid #010E14;

    p {
        margin: 0;
        font-family: 'Josefin Sans', sans-serif;
        color: #4C434A;
    }

    img {
        margin: 0;
        width: 90%;
    }

    .card-details {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        p{
            font-size: 1.2rem;
            text-align: center;
            color:#020413;
        }

    }

    .more-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
        border: 1px solid #010E14;
        padding: 0.5rem;
        background-color: #0A3033;
        transition: all 0.3s ease-in-out;

        span {
            font-size: 1.5rem;
            color:#f3f3f3;
        }

        p{
            color:#f3f3f3;
        }
    }
    
    .more-info:hover {
        cursor: pointer;
        padding: 0.5rem;
        border: 1px solid #010E14;
        background-color: #fff;

        span {
            color: #010E14;
        }

        p{
            color: #010E14;
        }
    }

}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

