.item-list-container{
    background-image: url('../../assets/imagenes/vinilo-fondo.png');
    background-attachment: fixed;
    background-position: center;
    background-size: 15% 30%;
    background-repeat: no-repeat;
    padding: 2rem 1rem 3rem 1rem;
}