.item-list-container{
    padding: 3rem 2rem 10rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    animation: appear 0.5s;

    @keyframes appear {
        from {opacity: 0;}
        to {opacity: 1;}
    }

    .bio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        gap: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 400;
        color: #0A3033;
        width: 70%;
        margin: 0 auto;

        h1 {
            color: #287075;
        }
        
        p{
            padding: 1.5rem;
            font-size: 1.1rem;
            border-radius: 10px;
            border: 1px solid rgba(10, 48, 51, 0.5);
            box-shadow: rgba(0, 0, 0, 0) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }
    }

    .loading {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }
}