.item-list-container{
    background-image: url('../../../public/assets/imagenes/vinilo-fondo.png');
    background-attachment: fixed;
    background-position: center;
    background-size: 15% 30%;
    background-repeat: no-repeat;
    padding: 3rem 2rem 5rem 2rem;  
}