html {
   position: relative;
   box-sizing: border-box;
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }

 body {
   font-family: 'Josefin Sans', sans-serif;
   background-color: transparent;
   background-image: url('../../public/assets/imagenes/global/background.png');
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
 }

.container {
   width: 95%;
   max-width: 120rem;
   margin: 0 auto;
}

p {
   margin: 0;
   padding: 0;
}

h1,h2,h3 {
   margin: 0;
   padding: 0;
}

a {
   color: #4C434A;
   text-decoration: none;
}

// Media Queries

@media (max-width: 480px) {

   .container {
      width: 100%;
   }
}

@media (max-width: 768px) {

   .container {
      width: 100%;
   }
}

@media (max-width: 1140px) {

   .container {
      width: 100%;
   }
}