body {
   background-image: url('/assets/imagenes/vinilo-fondo.png');
   background-attachment: fixed;
   background-position: center;
   background-size: 15% 30%;
   background-repeat: no-repeat;
}

.container {
   width: 95%;
   max-width: 120rem;
   margin: 0 auto;
}