.item-details {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

    img {
        width: 100%;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .no-stock {
            color:red;
        }

        .buy-buttons {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 40%;

            .continue {
                color: #4C434A;
                background: none;
                border: 1px solid #4C434A;
                padding: 1rem;
                transition: 0.2s ease-in-out all;
            }

            .continue:hover {
                color: #FE343B;
                background-color: rgba(5, 199, 147, 0.2);
                cursor: pointer;
                border-color: #FE343B;
            }

            .buy {
                color: #4C434A;
                background: none;
                border: 1px solid #4C434A;
                padding: 1rem;
                transition: 0.2s ease-in-out all;
            }
        
            .buy:hover {
                color: #FE343B;
                background-color: rgba(5, 199, 147, 0.2);
                cursor: pointer;
                border-color: #FE343B;
            }
        }

        
    }
    
    
}