.cart-components {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #696468;
    gap: 3rem;
    width: 100%;
    min-height: 100vh;
    padding: 3rem 2rem 5rem 2rem;  

    .table-cart-products {
        border-collapse: collapse;
        width: 80%;
        box-shadow: rgba(0, 0, 0, 0) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        
        th {
            padding: 1rem;
            color: #696468;
        }

        td {
            color: #696468;
        }

        .product-row {
            width: 50%;
        }
        .price-row {
            width: 15%;
        }
        .quantity-row {
            width: 15%;
        }

        .table-elements {
            border-radius: 50px;
            transition: all 0.2s ease-in-out;
        }

        .element-name {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.2rem;
            padding: 1rem 1rem 1rem 1.5rem;

            img {
                width: 10%;
            }
        }

        .element-quantity {
            font-size: 1.5rem;
            text-align: center;
            

            .decrease-quantity {
                font-size: 2rem;
                border: 0;
                background: none;
                color: #696468;
            }


            .increase-quantity {
                font-size: 2rem;
                border: 0;
                background: none;
                color: #696468;
            }

            .decrease-quantity:disabled {
                color: #e9e9e9;
            }

            .increase-quantity:disabled {
                color: #e9e9e9;
            }

            .decrease-quantity:hover {
                cursor: pointer;
            }

            .increase-quantity:hover {
                cursor: pointer;
            }
        }

        .element-price {
            text-align: center;
            font-size: 1.2rem;
        }
        
        .element-edit {
            text-align: center;
            
            img {
                width: 20%;
            }
        }

        .element-edit:hover {
            cursor: pointer;
        }
    }

    .table-results{
        width: 20%;
        box-shadow: rgba(0, 0, 0, 0) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
    }

    .cart-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        width: 80%;
        margin-top: 3rem;

        .empty-cart {
            color: #4C434A;
            background: none;
            border: 1px solid #4C434A;
            padding: 1rem;
            transition: 0.2s ease-in-out all;
        }
    
        .empty-cart:hover {
            border: 1px solid #0A3033;
            color: #f3f3f3;
            background-color: #0A3033;
            cursor: pointer;
        }

        .confirm-purchase {
            color: #4C434A;
            background: none;
            border: 1px solid #4C434A;
            padding: 1rem;
            transition: 0.2s ease-in-out all;
        }
    
        .confirm-purchase:hover {
            border: 1px solid #0A3033;
            color: #f3f3f3;
            background-color: #0A3033;
            cursor: pointer;
        }
    }

    .continue-shoping {
        color: #0A3033;
        background: none;
        border: 1px solid #4C434A;
        padding: 1rem;
        transition: 0.2s ease-in-out all;
    }

    .continue-shoping:hover {
        border: 1px solid #0A3033;
        color: #f3f3f3;
        background-color: #0A3033;
        cursor: pointer;
    }
    
}