.navbar {
    padding: 1rem 0 1rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border-bottom: 1px solid #E2DFE2;
    background-color: #fff;

    .navbar-links {
        padding: 0;
        display: flex;
        justify-content: flex-end;
        gap: 3rem;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
        color: #4C434A;
    
        li {
            color: #4C434A;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.2rem;
            transition: 0.2s ease-in-out all;
        }

        li:hover {
            cursor: pointer;
            color: #FE343B;
        }
    }

    .logo {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        :hover {
            cursor: pointer;
        }
    
        img {
            margin: 0;
            width: 25%;
            height: 100%;
        }
    
        h2 {
            margin: 0;
            font-family: 'Josefin Sans', sans-serif;
            color: #4C434A;
            font-weight: 700;
            text-shadow: 3px 3px 1px #999;

        }
    }

    .navbar-secundary-links {
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3rem;
        list-style: none;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.2rem;
        color: #4C434A;
    
        li {
            transition: 0.2s ease-in-out all;
        }

        li:hover {
            cursor: pointer;
            color: #FE343B;
        }
    }
}

// Media Queries Responsive

@media (max-width: 480px) {
    
    .navbar {
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 100%;
        margin: 0;
        padding: 1rem 0 0 0;

        .logo {

            width: 100%;

            img {
                width: 20%;
                height: 20%;
            }

            h2 {
                font-size: 5rem;
            }
        }
    
        .navbar-links {
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
    
            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }
        }
    
        .navbar-secundary-links {
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;

            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }

            .cart {
                display: none;
            }

        }
    }

    
}

@media (max-width: 768px) {
    
    .navbar {
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 100%;
        margin: 0;
        padding: 1rem 0 0 0;

        .logo {

            width: 100%;

            img {
                width: 30%;
                height: 30%;
            }

            h2 {
                font-size: 2rem;
            }
        }
    
        .navbar-links {
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
    
            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }
        }
    
        .navbar-secundary-links {
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;

            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }

            .cart {
                display: none;
            }

        }
    }

}

@media (max-width: 980px) {
    
    .navbar {
        display: grid;
        grid-template-rows: repeat(3, 0.5fr);
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 100%;
        margin: 0;
        padding: 1rem 0 0 0;

        .logo {

            img {
                width: 10%;
                height: 10%;
            }

            h2 {
                font-size: 2rem;
            }
        }
    
        .navbar-links {
            grid-row: 2 / 3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;
    
            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }
        }
    
        .navbar-secundary-links {
            grid-row: 3 / 4;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0;

            li {
                text-align: center;
                width: 100%;
                padding: 1.5rem 0 1.5rem 0;
                background-color: #4C434A;
                color: #fff;
            }
    
            li:hover {
                background-color: rgba(3, 119, 88, 1);
            }

            .cart {
                display: none;
            }

        }
    }
       
}





