.footer {
    padding: 5rem 2rem 5rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(76, 67, 74, 0.1);

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
        padding: 0;
    }

    .footer-elements {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 0.5rem;
    }
}