.item-count {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;

    .item-count__components {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 0;

        .item-count__increase{
            font-size: 2rem;
            border: none;
            background: none;
            color: #4C434A;
            transition: 0.1s ease-in-out all;
        }

        .item-count__increase:disabled{
            color: grey;
            cursor: pointer;
        }

        .item-count__increase:hover{
            color: #FE343B;
            cursor: pointer;
        }

        .item-count__decrease{
            font-size: 3rem;
            border: none;
            background: none;
            color: #4C434A;
            transition: 0.1s ease-in-out all;
        }

        .item-count__decrease:disabled{
            color: grey;
            cursor: pointer;
        }

        .item-count__decrease:hover{
            color: #FE343B;
            cursor: pointer;
        }

        p {
            font-size: 2rem;
            margin: 0;
            padding: 0;
            color: #4C434A;
        }
    }

    .add-to-cart__button {
        color: #0A3033;
        background: none;
        border: 1px solid #4C434A;
        padding: 1rem;
        transition: 0.2s ease-in-out all;
    }

    .add-to-cart__button:hover {
        border: 1px solid #0A3033;
        color: #f3f3f3;
        background-color: #0A3033;
        cursor: pointer;
    }
}